<!DOCTYPE html>
<html>
  <head>
    {% include 'headerpage.html' %}
  </head>
  <body>
    {% block content %}
    {% endblock content %}
    {% include 'footerpage.html' %}
    {% include 'home/loginpage.html' %}
  </body>

  <!-- script from membership.html -->
  <script type="text/javascript">
  $( document ).ready(function() {
    $(".next-step").click(function (e) {
       var $active = $('.wizard .nav-tabs li.active');
       $active.next().removeClass('disabled');
       nextTab($active);

    });

   //Tabs Box
  if($('.tabs-box').length){
  $('.tabs-box .tab-buttons .tab-btn').on('click', function(e) {
   e.preventDefault();
   var target = $($(this).attr('data-tab'));

   if ($(target).is(':visible')){
     return false;
   }else{
     target.parents('.tabs-box').find('.tab-buttons').find('.tab-btn').removeClass('active-btn');
     $(this).addClass('active-btn');
     target.parents('.tabs-box').find('.tabs-content').find('.tab').fadeOut(0);
     target.parents('.tabs-box').find('.tabs-content').find('.tab').removeClass('active-tab');
     $(target).fadeIn(300);
     $(target).addClass('active-tab');
   }
  });
  }

  });
  $(document).ready(function () {
  //Initialize tooltips
  $('.nav-tabs > li a[title]').tooltip();

  //Wizard
  $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

     var $target = $(e.target);

     if ($target.parent().hasClass('disabled')) {
         return false;
     }
  });

  $(".prev-step").click(function (e) {

     var $active = $('.wizard .nav-tabs li.active');
     prevTab($active);

  });
  });

  function nextTab(elem) {
  $(elem).next().find('a[data-toggle="tab"]').click();
  }
  function prevTab(elem) {
  $(elem).prev().find('a[data-toggle="tab"]').click();
  }


  //according menu

  $(document).ready(function()
  {
  //Add Inactive Class To All Accordion Headers
  $('.accordion-header').toggleClass('inactive-header');

  //Set The Accordion Content Width
  var contentwidth = $('.accordion-header').width();
  $('.accordion-content').css({});

  //Open The First Accordion Section When Page Loads
  $('.accordion-header').first().toggleClass('active-header').toggleClass('inactive-header');
  $('.accordion-content').first().slideDown().toggleClass('open-content');

  // The Accordion Effect
  $('.accordion-header').click(function () {
  if($(this).is('.inactive-header')) {
   $('.active-header').toggleClass('active-header').toggleClass('inactive-header').next().slideToggle().toggleClass('open-content');
   $(this).toggleClass('active-header').toggleClass('inactive-header');
   $(this).next().slideToggle().toggleClass('open-content');
  }

  else {
   $(this).toggleClass('active-header').toggleClass('inactive-header');
   $(this).next().slideToggle().toggleClass('open-content');
  }
  });

  return false;
  });
  </script>
</html>
