<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
  </head>
  <body>
    <!--Main Footer-->
    <footer class="main-footer">
      <div class="auto-container">

        <!--Widgets Section-->
        <div class="widgets-section">
          <div class="row clearfix">
            <!--Big Column-->
            <div class="big-column col-md-6 col-sm-12 col-xs-12">
              <div class="row clearfix">

                <!--Footer Column-->
                <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                  <div class="footer-widget links-widget">
                    <h2>I would like to</h2>
                    <div class="widget-content">
                      <ul class="list">
                        <li><a href="#">Become a member</a></li>
                        <li><a href="#">Donate</a></li>
                        <li><a href="#">Volunteer</a></li>
                        <li><a href="#">Advertise</a></li>
                        <li><a href="contact.html">Contact</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!--Footer Column-->
                <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                  <div class="footer-widget links-widget">
                    <h2>NAKA</h2>
                    <div class="widget-content">
                      <ul class="list">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Leadership</a></li>
                        <li><a href="#">Endowment</a></li>
                        <li><a href="#">Naka cares</a></li>
                        <li><a href="#">Services </a></li>
                        <li><a href="#">Membership</a></li>
                        <li><a href="#">Donate</a></li>
                        <li><a href="#">Blogs</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Big Column-->
            <div class="big-column col-md-6 col-sm-12 col-xs-12">
              <div class="row clearfix">

                <!--Footer Column-->
                <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                  <div class="footer-widget links-widget">
                    <h2>Community</h2>
                    <div class="widget-content">
                      <ul class="list">
                        <li><a href="#">Volunteers</a></li>
                        <li><a href="#">Contact</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!--Footer Column-->
                <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                  <div class="footer-widget contact-widget">
                    <h2>Operations Office</h2>
                    <div class="widget-content">
                      <ul class="contact-info">
                        <li>North American Konkani Association<br>
                          USA</li>
                        <li>+1 123 456 7890</li>
                        <li>mail@mynaka.org</li>
                      </ul>

                      <!--Newsletter One-->
                      <div class="newsletter-one">
                        <h4>Subscribe to our newsletter</h4>
                        <form method="post" action="contact.html">
                          <div class="form-group">
                            <input type="email" name="email" value="" required placeholder="Your Email">
                            <button type="submit" class="theme-btn"><span class="fa fa-paper-plane"></span></button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Footer Bottom-->
      <div class="footer-bottom">
        <div class="auto-container">
          <div class="copyright-text">Copyright &copy; 2017.  All Rights Reserved myNAKA </div>
        </div>
      </div>
    </footer>
  </body>
</html>
